@import './globalroot.css';

body{
    font-family: 'lato';
}

.spinner-grow{
    width: 110px;
    height: 110px;
    color: var(--primary);
}

.post-container-add{
    box-shadow: 0px 2px 6px 5px rgb(0 0 0 / 25%);
    height: 260px;
}

.post-form-add{
    background-color: var(--primary);
    padding: 10px;
    /* height: 100%; */
}

.post-add{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.cardHeader{
    background-color: var(--bgPost) !important;
    border-radius: 7px !important;
    border: none !important;
}

.cardTitle{
    text-align: center;
    
}

#message{
    resize: none;
    width: 100%;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    background-color: var(--bg);
    
}

.cardPost{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.cardImg{
    width: 100%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.footer-form{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    border: none !important;
    background: transparent !important;
}

.icon{
    display: flex;
    align-items: center;
    position: relative;
}

.icon-img-upload{
    font-size: larger !important;
}

#file-upload{
    width: 10px;
    position: relative;
    right: 15px;
    opacity: 0;
}

.send{
    background-color: var(--bg) !important;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    color: black;
}

.send:hover{
    background-color: var(--secondary) !important;
    color: black;
}

.cancel{
    background-color: var(--bg) !important;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.cancel:hover{
    background-color: var(--secondary) !important;
    color: black;
}

.card-container{
    margin-top: 100px;
}

