@import './globalroot.css';

.post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}
.spinner-border{
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary);
}
.header{
    font-weight: bolder;
}

.main-post{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    
}

.update-message{
    resize: none;
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    background-color: var(--bg);
}

.btn-update{
    background-color: var(--bg) !important;
    margin-top: 30px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    color: black;
}

.btn-update:hover{
    background-color: var(--secondary) !important;
    color: black;
}

.btn-to-update{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.img-card{
    width: 100%;
    height: 100%;
    max-height: 360px;
    max-width: 360px;
}
.comm-post{
    display: flex;
}

.paragraph-post{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    align-items: center;
}